<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">

    <ion-button (click)="onClick()" expand="block">
        Mostrar alerta
    </ion-button>

    <ion-button (click)="onClickMultiple()" expand="block">
        Mostrar alerta multiple botones
    </ion-button>

    <ion-button (click)="onClickConfirm()" expand="block">
        Mostrar alerta confirmar
    </ion-button>

    <ion-button (click)="onClickPromp()" expand="block">
        Mostrar alerta formulario
    </ion-button>

    <ion-button (click)="onClickRadio()" expand="block">
        Mostrar alerta radio button
    </ion-button>

    <ion-button (click)="onClickCheck()" expand="block">
        Mostrar alerta check box
    </ion-button>

</ion-content>
